# 项目相关配置
hym:
  # 名称
  name: hym
  # 版本
  version: 1.0.0
  # 版权年份
  copyrightYear: 2020
  # 实例演示开关
  demoEnabled: true
  # 文件路径 示例（ Windows配置D:/hym/uploadPath，Linux配置 /home/hym/uploadPath）
  profile: /mnt/data/server1/uploadPath
  # 获取ip地址开关
  addressEnabled: true

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 8080
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # tomcat最大线程数，默认为200
    max-threads: 800
    # Tomcat启动初始化的线程数，默认值25
    min-spare-threads: 30


# 日志配置
logging:
  level:
    com.hym: debug
    org.springframework: warn

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles: 
    active: druid
  # 文件上传
  servlet:
     multipart:
       # 单个文件大小
       max-file-size:  10MB
       # 设置总上传的文件大小
       max-request-size:  20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # redis 配置
  redis:
#    host: 193.112.78.119  # Redis服务器地址
#    port: 6379  # Redis服务器连接端口
#    password: 1111qqqq         # Redis服务器连接端口
#    jedis:
#      pool:
#        max-active: 8
#        max-wait: 30000    # 连接池最大阻塞等待时间（使用负值表示没有
#        max-idle: 500
#        min-idle: 0         # 连接池中的最小空闲连接
#    lettuce:
#      shutdown-timeout: 30000 # 连接超时时间（毫秒）
#    # 地址
    host: 193.112.78.119
    password: 1111qqqq
    # 端口，默认为6379
    port: 6379
    # 连接超时时间
    timeout: 50s   # 默认是10 因为报错，改成50 lettuce.core.RedisCommandTimeoutException:Command timed out after 10 second
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms

# token配置
token:
    # 令牌自定义标识
    header: Authorization
    # 令牌秘钥
    secret: abcdefghijklmnopqrstuvwxyz
    # 令牌有效期（默认30分钟）
    expireTime: 30
  
# MyBatis配置
mybatis:
    # 搜索指定包别名
    typeAliasesPackage: com.hym.project.**.domain
    # 配置mapper的扫描，找到所有的mapper.xml映射文件
    mapperLocations: classpath*:mapper/**/*Mapper.xml
    # 加载全局的配置文件
    configLocation: classpath:mybatis/mybatis-config.xml
#
#    #mapper-locations: classpath*:mapper/**/*.xml
#    #实体扫描，多个package用逗号或者分号分隔
#    #typeAliasesPackage: com.yoelink.ybc.pojo
#    global-config:
#      #主键类型  0:"数据库ID自增", 1:"用户输入ID",2:"全局唯一ID (数字类型唯一ID)", 3:"全局唯一ID UUID";
#      id-type: 0
#      #字段策略 0:"忽略判断",1:"非 NULL 判断"),2:"非空判断"
#      field-strategy: 2
#      #驼峰下划线转换
#      db-column-underline: true
#      #刷新mapper 调试神器
#      refresh-mapper: true
#      #数据库大写下划线转换
#      #capital-mode: true
#      #序列接口实现类配置
#      #key-generator: com.baomidou.springboot.xxx
#      #逻辑删除配置（下面3个配置）
#      logic-delete-value: 0
#      logic-not-delete-value: 1
#      #自定义SQL注入器
#      sql-injector: com.baomidou.mybatisplus.mapper.LogicSqlInjector
#      #自定义填充策略接口实现
#      #meta-object-handler: com.baomidou.springboot.xxx
#    configuration:
#      map-underscore-to-camel-case: true
#      mapUnderscoreToCamelCase: true  #Map自动驼峰下划线命名转换
#      cache-enabled: true #配置的缓存的全局开关
#      lazyLoadingEnabled: true #延时加载的开关
#      multipleResultSetsEnabled: true #开启的话，延时加载一个属性时会加载该对象全部属性，否则按需加载属性
#      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 打印sql 语句 20181115 by klj
# PageHelper分页插件
pagehelper: 
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql 

# 防止XSS攻击
xss: 
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice/*
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*
# 代码生成
gen: 
  # 作者
  author: hym
  # 默认生成包路径 system 需改成自己的模块名称 如 system monitor tool
  packageName: com.hym.project.system
  # 自动去除表前缀，默认是true
  autoRemovePre: false
  # 表前缀（生成类名不会包含表前缀，多个用逗号分隔）
  tablePrefix: sys_