<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hym.project.mapper.AssetMapper">
  <resultMap id="BaseResultMap" type="com.hym.project.domain.Asset">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="frozen_token" jdbcType="VARCHAR" property="frozenToken" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, frozen_token, token, insert_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from asset
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from asset
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hym.project.domain.Asset">
    insert into asset (id, uid, frozen_token, 
      token, insert_date)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{frozenToken,jdbcType=VARCHAR},
      #{token,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hym.project.domain.Asset">
    insert into asset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="frozenToken != null">
        frozen_token,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="insertDate != null">
        insert_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="frozenToken != null">
        #{frozenToken,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hym.project.domain.Asset">
    update asset
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="frozenToken != null">
        frozen_token = #{frozenToken,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        insert_date = #{insertDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hym.project.domain.Asset">
    update asset
    set uid = #{uid,jdbcType=VARCHAR},
      frozen_token = #{frozenToken,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      insert_date = #{insertDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>