<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hym.project.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="com.hym.project.domain.Banner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, img, link, type, status, remark, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from banner
    where status = #{status,jdbcType=INTEGER}
  </select>
</mapper>