<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hym.project.mapper.MyTaskMapper">
  <resultMap id="BaseResultMap" type="com.hym.project.domain.MyTask">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="tid" jdbcType="VARCHAR" property="tid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
    <result column="finish_date" jdbcType="TIMESTAMP" property="finishDate" />
    <result column="final_date" jdbcType="TIMESTAMP" property="finalDate" />
  </resultMap>
  <resultMap id="BaseResultMapVO" type="com.hym.project.domain.vo.MyTaskVO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="tid" jdbcType="VARCHAR" property="tid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="app_type" jdbcType="INTEGER" property="appType" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="people" jdbcType="INTEGER" property="people" />
    <result column="rmb_sum" jdbcType="VARCHAR" property="rmbSum" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="token_total_sum" jdbcType="VARCHAR" property="tokenTotalSum" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_received" jdbcType="INTEGER" property="isReceived" />
    <result column="commission" jdbcType="INTEGER" property="commission" />
    <result column="insert_user" jdbcType="VARCHAR" property="insertUser" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
    <result column="checker" jdbcType="VARCHAR" property="checker" />
    <result column="release_user" jdbcType="VARCHAR" property="releaseUser" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, uid, tid, title, status, icon, result, token, insert_date, finish_date, final_date
  </sql>

  <select id="selectMyTask" parameterType="java.util.Map" resultMap="BaseResultMapVO">
   SELECT
	m.id, m.tid, m.uid, t.title, t.industry,
	t.app_type, t.type, t.description, t.icon, t.people, t.price,
	t.token, t.begin_time, t.end_time, t.app_name, t.appid,
	t.pname, t.action, m.status, t.commission, m.insert_date
FROM
	task t
	right JOIN my_task m ON t.id = m.tid
    WHERE 1=1
    <if test="status != 9" >
      and m.status =  #{status,jdbcType=INTEGER}
    </if>
    <if test="uid != null and '' != uid" >
      and m.uid =  #{uid,jdbcType=VARCHAR}
    </if>
     order by insert_date
  </select>

  <select id="selectCount"  parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(1) count from my_task where 1=1
    <if test="status != 9" >
      and status =  #{status,jdbcType=INTEGER}
    </if>

    <if test="uid != null and '' != uid" >
      and uid =  #{uid,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from my_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from my_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hym.project.domain.MyTask">
    insert into my_task (id, uid, tid, 
      title, status, icon, 
      result, token, insert_date, 
      finish_date, final_date)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{tid,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP},
      #{finishDate,jdbcType=TIMESTAMP}, #{finalDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hym.project.domain.MyTask">
    update my_task
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        insert_date = #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finishDate != null">
        finish_date = #{finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finalDate != null">
        final_date = #{finalDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>