<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hym.project.mapper.PayCodeMapper">
  <resultMap id="BaseResultMap" type="com.hym.project.domain.PayCode">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="pay_name" jdbcType="VARCHAR" property="payName" />
    <result column="pay_code" jdbcType="VARCHAR" property="payCode" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, name, pay_type, pay_name, pay_code, flag, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_code
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pay_code
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hym.project.domain.PayCode">
    insert into pay_code (id, uid, name, 
      pay_type, pay_name, pay_code, 
      flag, insert_time)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{payType,jdbcType=INTEGER}, #{payName,jdbcType=VARCHAR}, #{payCode,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hym.project.domain.PayCode">
    update pay_code
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="payName != null">
        pay_name = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null">
        pay_code = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pay_code
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
</mapper>