<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hym.project.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.hym.project.domain.Task">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="people" jdbcType="INTEGER" property="people" />
    <result column="rmb_sum" jdbcType="VARCHAR" property="rmbSum" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="token_total_sum" jdbcType="VARCHAR" property="tokenTotalSum" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_received" jdbcType="INTEGER" property="isReceived" />
    <result column="commission" jdbcType="INTEGER" property="commission" />
    <result column="insert_user" jdbcType="VARCHAR" property="insertUser" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
    <result column="checker" jdbcType="VARCHAR" property="checker" />
    <result column="release_user" jdbcType="VARCHAR" property="releaseUser" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, title, industry, description, icon, count, people, rmb_sum, price, token, 
    token_total_sum, start_date, end_date, status, is_received, commission, insert_user, 
    insert_date, checker, release_user, release_time
  </sql>
  <select id="selectCount"  resultType="java.lang.Integer">
--   select count(1) count from task where status = 2
select sum(people) count from task where status = 2
</select>
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task where status = 2
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hym.project.domain.Task">
    insert into task (id, uid, title, 
      industry, description, icon, 
      count, people, rmb_sum, 
      price, token, token_total_sum, 
      start_date, end_date, status, 
      is_received, commission, insert_user, 
      insert_date, checker, release_user, 
      release_time)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{people,jdbcType=INTEGER}, #{rmbSum,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{tokenTotalSum,jdbcType=VARCHAR},
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{isReceived,jdbcType=INTEGER}, #{commission,jdbcType=INTEGER}, #{insertUser,jdbcType=VARCHAR}, 
      #{insertDate,jdbcType=TIMESTAMP}, #{checker,jdbcType=VARCHAR}, #{releaseUser,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hym.project.domain.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="people != null">
        people,
      </if>
      <if test="rmbSum != null">
        rmb_sum,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="tokenTotalSum != null">
        token_total_sum,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isReceived != null">
        is_received,
      </if>
      <if test="commission != null">
        commission,
      </if>
      <if test="insertUser != null">
        insert_user,
      </if>
      <if test="insertDate != null">
        insert_date,
      </if>
      <if test="checker != null">
        checker,
      </if>
      <if test="releaseUser != null">
        release_user,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="people != null">
        #{people,jdbcType=INTEGER},
      </if>
      <if test="rmbSum != null">
        #{rmbSum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenTotalSum != null">
        #{tokenTotalSum,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isReceived != null">
        #{isReceived,jdbcType=INTEGER},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=INTEGER},
      </if>
      <if test="insertUser != null">
        #{insertUser,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="releaseUser != null">
        #{releaseUser,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hym.project.domain.Task">
    update task
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="people != null">
        people = #{people,jdbcType=INTEGER},
      </if>
      <if test="rmbSum != null">
        rmb_sum = #{rmbSum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenTotalSum != null">
        token_total_sum = #{tokenTotalSum,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isReceived != null">
        is_received = #{isReceived,jdbcType=INTEGER},
      </if>
      <if test="commission != null">
        commission = #{commission,jdbcType=INTEGER},
      </if>
      <if test="insertUser != null">
        insert_user = #{insertUser,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        insert_date = #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checker != null">
        checker = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="releaseUser != null">
        release_user = #{releaseUser,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>