<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hym.project.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.hym.project.domain.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="trade_password" jdbcType="VARCHAR" property="tradePassword" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="sort_no" jdbcType="INTEGER" property="sortNo" />
    <result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="sessionKey" jdbcType="VARCHAR" property="sessionkey" />
    <result column="wx_avatar_url" jdbcType="VARCHAR" property="wxAvatarUrl" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="my_invite_code" jdbcType="VARCHAR" property="myInviteCode" />
    <result column="invited_code" jdbcType="VARCHAR" property="invitedCode" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="id_positive" jdbcType="VARCHAR" property="idPositive" />
    <result column="id_opposite" jdbcType="VARCHAR" property="idOpposite" />
    <result column="id_hand" jdbcType="VARCHAR" property="idHand" />
    <result column="id_autho_issue" jdbcType="VARCHAR" property="idAuthoIssue" />
    <result column="id_expir_date" jdbcType="VARCHAR" property="idExpirDate" />
    <result column="speciality" jdbcType="VARCHAR" property="speciality" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="is_autho" jdbcType="INTEGER" property="isAutho" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="university" jdbcType="VARCHAR" property="university" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="pay_name" jdbcType="VARCHAR" property="payName" />
    <result column="pay_code" jdbcType="VARCHAR" property="payCode" />
    <result column="is_latest" jdbcType="INTEGER" property="isLatest" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_time" jdbcType="VARCHAR" property="lastLoginTime" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, trade_password, salt, sort_no, wx_nickname, unionid, openid, 
    sessionKey, wx_avatar_url, mobile, email, my_invite_code, invited_code, channel, 
    user_type, id_number, name, gender, nation, birthday, address, id_positive, id_opposite, 
    id_hand, id_autho_issue, id_expir_date, speciality, profile, is_autho, status, university, 
    education, major, pay_type, pay_name, pay_code,is_latest, last_login_ip, last_login_time, insert_time
  </sql>

  <select id="selectByInviteCode" parameterType="java.lang.String" resultType="java.lang.String">
     select my_invite_code as inviteCode from user where my_invite_code= #{inviteCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByOpenID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <select id="loginByCellPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
  <select id="selectUserHMYByStatus" parameterType="java.util.Map" resultType="java.lang.String">
    select id  from user
    where is_autho = #{is_autho,jdbcType=INTEGER} and status =  #{status,jdbcType=INTEGER}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hym.project.domain.User">
    insert into user (id, username, password, 
      trade_password, salt, sort_no, 
      wx_nickname, unionid, openid, 
      sessionKey, wx_avatar_url, mobile, 
      email, my_invite_code, invited_code, 
      channel, user_type, id_number, 
      name, gender, nation, 
      birthday, address, id_positive, 
      id_opposite, id_hand, id_autho_issue, 
      id_expir_date, speciality, profile, 
      is_autho, status, university, 
      education, major, pay_type, 
      pay_name, pay_code,is_latest, last_login_ip,
      last_login_time, insert_time)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{tradePassword,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, 
      #{wxNickname,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{sessionkey,jdbcType=VARCHAR}, #{wxAvatarUrl,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{myInviteCode,jdbcType=VARCHAR}, #{invitedCode,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{idPositive,jdbcType=VARCHAR}, 
      #{idOpposite,jdbcType=VARCHAR}, #{idHand,jdbcType=VARCHAR}, #{idAuthoIssue,jdbcType=VARCHAR}, 
      #{idExpirDate,jdbcType=VARCHAR}, #{speciality,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR}, 
      #{isAutho,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{university,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, 
      #{payName,jdbcType=VARCHAR}, #{payCode,jdbcType=VARCHAR},#{isLatest,jdbcType=INTEGER}, #{lastLoginIp,jdbcType=VARCHAR},
      #{lastLoginTime,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hym.project.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="tradePassword != null">
        trade_password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="wxNickname != null">
        wx_nickname,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="sessionkey != null">
        sessionKey,
      </if>
      <if test="wxAvatarUrl != null">
        wx_avatar_url,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="myInviteCode != null">
        my_invite_code,
      </if>
      <if test="invitedCode != null">
        invited_code,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="idPositive != null">
        id_positive,
      </if>
      <if test="idOpposite != null">
        id_opposite,
      </if>
      <if test="idHand != null">
        id_hand,
      </if>
      <if test="idAuthoIssue != null">
        id_autho_issue,
      </if>
      <if test="idExpirDate != null">
        id_expir_date,
      </if>
      <if test="speciality != null">
        speciality,
      </if>
      <if test="profile != null">
        profile,
      </if>
      <if test="isAutho != null">
        is_autho,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="university != null">
        university,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="payName != null">
        pay_name,
      </if>
      <if test="payCode != null">
        pay_code,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tradePassword != null">
        #{tradePassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="wxNickname != null">
        #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionkey != null">
        #{sessionkey,jdbcType=VARCHAR},
      </if>
      <if test="wxAvatarUrl != null">
        #{wxAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="myInviteCode != null">
        #{myInviteCode,jdbcType=VARCHAR},
      </if>
      <if test="invitedCode != null">
        #{invitedCode,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="idPositive != null">
        #{idPositive,jdbcType=VARCHAR},
      </if>
      <if test="idOpposite != null">
        #{idOpposite,jdbcType=VARCHAR},
      </if>
      <if test="idHand != null">
        #{idHand,jdbcType=VARCHAR},
      </if>
      <if test="idAuthoIssue != null">
        #{idAuthoIssue,jdbcType=VARCHAR},
      </if>
      <if test="idExpirDate != null">
        #{idExpirDate,jdbcType=VARCHAR},
      </if>
      <if test="speciality != null">
        #{speciality,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="isAutho != null">
        #{isAutho,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="university != null">
        #{university,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="payName != null">
        #{payName,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null">
        #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hym.project.domain.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="tradePassword != null">
        trade_password = #{tradePassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="wxNickname != null">
        wx_nickname = #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionkey != null">
        sessionKey = #{sessionkey,jdbcType=VARCHAR},
      </if>
      <if test="wxAvatarUrl != null">
        wx_avatar_url = #{wxAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="myInviteCode != null">
        my_invite_code = #{myInviteCode,jdbcType=VARCHAR},
      </if>
      <if test="invitedCode != null">
        invited_code = #{invitedCode,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="idPositive != null">
        id_positive = #{idPositive,jdbcType=VARCHAR},
      </if>
      <if test="idOpposite != null">
        id_opposite = #{idOpposite,jdbcType=VARCHAR},
      </if>
      <if test="idHand != null">
        id_hand = #{idHand,jdbcType=VARCHAR},
      </if>
      <if test="idAuthoIssue != null">
        id_autho_issue = #{idAuthoIssue,jdbcType=VARCHAR},
      </if>
      <if test="idExpirDate != null">
        id_expir_date = #{idExpirDate,jdbcType=VARCHAR},
      </if>
      <if test="speciality != null">
        speciality = #{speciality,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="isAutho != null">
        is_autho = #{isAutho,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="university != null">
        university = #{university,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="payName != null">
        pay_name = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null">
        pay_code = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="isLatest != null">
        is_latest =#{isLatest,jdbcType=INTEGER},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hym.project.domain.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      trade_password = #{tradePassword,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=INTEGER},
      wx_nickname = #{wxNickname,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      sessionKey = #{sessionkey,jdbcType=VARCHAR},
      wx_avatar_url = #{wxAvatarUrl,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      my_invite_code = #{myInviteCode,jdbcType=VARCHAR},
      invited_code = #{invitedCode,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      id_positive = #{idPositive,jdbcType=VARCHAR},
      id_opposite = #{idOpposite,jdbcType=VARCHAR},
      id_hand = #{idHand,jdbcType=VARCHAR},
      id_autho_issue = #{idAuthoIssue,jdbcType=VARCHAR},
      id_expir_date = #{idExpirDate,jdbcType=VARCHAR},
      speciality = #{speciality,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR},
      is_autho = #{isAutho,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      university = #{university,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      pay_name = #{payName,jdbcType=VARCHAR},
      pay_code = #{payCode,jdbcType=VARCHAR},
      is_latest =#{isLatest,jdbcType=INTEGER},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>