<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hym.project.mapper.WithdrawMapper">
  <resultMap id="BaseResultMap" type="com.hym.project.domain.Withdraw">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="pay_date" jdbcType="TIMESTAMP" property="payDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, status, amount, channel, pay_date, remark, insert_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from withdraw
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from withdraw
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hym.project.domain.Withdraw">
    insert into withdraw (id, uid, status, 
      amount, channel, pay_date, 
      remark, insert_date)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{channel,jdbcType=VARCHAR}, #{payDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hym.project.domain.Withdraw">
    insert into withdraw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="payDate != null">
        pay_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="insertDate != null">
        insert_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hym.project.domain.Withdraw">
    update withdraw
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        insert_date = #{insertDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hym.project.domain.Withdraw">
    update withdraw
    set uid = #{uid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      channel = #{channel,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      insert_date = #{insertDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>